@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Общие стили для всей страницы !!! */

body {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
	background-color: #F2F2F2;
}

.content {
	margin: 0 auto;
	max-width: 1200px;
}

.visually-hidden {
	visibility: hidden;
}

/* Header  */

.page-header {
	background-color: #FFFFFF;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation-link, 
.navigation-user-link {
	display: inline-block;
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
	color: #000000;
}

.navigation-link {
	padding: 20px 16px;
}

.navigation-link-current {
	border-bottom: 2px solid #756257;
}

.navigation-user-link-search {
	background-image: url("../images/header/search.svg");
}

.navigation-user-link-heart {
	background-image: url("../images/header/heart.svg");
}

.navigation-user-link-search,
.navigation-user-link-heart {
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	padding: 22px 12px;
}

.button {
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 4px;
}

.button-brown-individual-styles {
	background: #756157;
	padding: 8px 34px;
}

/* Main-index */

/* Section Hero */

.main-index {
	border: 1px solid red;
}

.hero {
	border: 1px solid red;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
}

.hero-banner {
	display: block;
	width: 1200px;
	padding-top: 51px;
	margin-bottom: 69px;
	background-color: #000000;
	background-image: url("../images/main/main-banner.jpg");
	background-repeat: no-repeat;
}

.hero-bottom-detail {
	height: 57px;
	background-image: url("../images/main/main-bottom-detail.svg");
	background-repeat: no-repeat;
	background-position: left bottom;
}

.hero-greetings {
	margin-bottom: 21px;
}

.hero-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 25px;
}

.hero-text {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	margin-bottom: 90px;
}

/* Advantages */

