@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Общие стили для всей страницы !!! */

html {
	height: 100%;
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
	background-color: #F2F2F2;
	margin: 0;
	display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
	margin: 0 auto;
	width: 1200px;
	background-color: #FFFFFF;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Start Header  */

.page-header {
	background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    gap: 30px;
}

.logo-link {
	z-index: 1;
	margin-bottom: -4px;
}

.logo-image {
	display: inline-block;
    vertical-align: middle;
}

.navigation {
	display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.navigation-list,
.navigation-user {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation-list {
	width: 600px;
	display: flex;
	flex-wrap: wrap;
    flex-grow: 1;
}

.navigation-user {
	display: flex;
	max-width: 88px;
}

.navigation-link,
.navigation-user-link {
	display: block;
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
	color: #000000;
}

.navigation-link {
	padding: 20px 0;
    margin: 0 16px;
}

.navigation-user-link {
	vertical-align: middle;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
	content: "";
  background-color: #756257;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2px;
}

.navigation-user-link-search {
	background-image: url("../images/header/search.svg");
}

.navigation-user-link-heart {
	background-image: url("../images/header/heart.svg");
}

.navigation-user-link-search,
.navigation-user-link-heart {
	background-repeat: no-repeat;
	background-position: center;
	min-width: 20px;
	min-height: 20px;
	padding: 22px 12px;
}

.button-link {
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 4px;
}

.button-link-brown {
	background-color: #756157;
	padding: 8px 34px;
}

.button-link-brown:hover {
	background-color: #615048;
}

.button-link-brown:focus-visible {
  background-color: #615048;
  outline: none;
}

.button-link-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* End Header */

/* Start Main-index */

.main-index {
	flex-grow: 1;
}

/* Start Section Hero */

.hero {
	display: flex;
    flex-direction: column;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	padding-bottom: 90px;
}

.hero-banner {
	padding-top: 51px;
	margin-bottom: 69px;
	background-color: #34576b;
	background-image: url("../images/main/main-banner.jpg");
	background-repeat: no-repeat;
}

.hero-banner::after {
	content: "";
	background-image: url("../images/main/main-bottom-detail.svg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	width: 100%;
	height: 57px;
	display: block;
}

.hero-greetings {
	margin-bottom: 20px;
}

.hero-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
	margin-top: 0;
	margin-bottom: 25px;
	padding-left: 85px;
	padding-right: 85px;
	order: 1;
}

.hero-text {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 85px;
	padding-right: 85px;
	order: 2;
}

/* End Section Hero */

/* Start Section Advantages */

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.advantage-item{
	text-align: center;
  word-break: break-word;
	display: flex;
}

.advantage-wrrapep {
  padding: 92px 85px 111px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-image {
	min-height: 100%;
  object-fit: cover;
}

.advantage-order {
	order: 1;
}

.advantage-item-flex {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 103px 85px 121px;
	width: 400px;
}

.advantages-subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	margin-top: 0;
  margin-bottom: 62px;
  margin-left: 27.5px;
  margin-right: 27.5px;
}

.advantages-text {
	color: #333333;
	margin-top: 0;
	margin-bottom: 0;
  position: relative;
}

.advantages-decor-line-white::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 85px;
  top: -32px;
}

.advantages-decor-line-dark::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 85px;
  top: -32px;
}

.advantage-item-pale-blue {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-light-blue {
	background-color: rgba(131, 179, 211, 0.2);
}

.advantage-item-blue {
	background-color: #82B3D3;
}

.advantage-item-blue * {
	color: #FFFFFF;
}

/* End Section Advantages */

/* Start Section Services */

.services-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.services-item {
	width: 400px;
	box-sizing: border-box;
	padding: 80px 85px;
	text-align: center;
}

.services-item-img-house::before {
	content: url("../images/main/services-house.svg");
}

.services-item-img-food::before {
	content: url("../images/main/services-food.svg");
}

.services-item-img-souvenir::before {
	content: url("../images/main/services-souvenir.svg");
}

.services-item-pale-blue {
	background-color: rgba(131, 179, 211, 0.12);
}

.services-subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 30px 0;
}

.services-text {
	color: #333333;
	margin: 0;
}

/* End Section Services */

/* Start Section Hotel-search */

.hotel-search {
	background: #FFFFFF;
	text-align: center;
	padding: 96px 85px;
}

.hotel-search-interested {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
}

.hotel-search-text {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	margin-top: 0;
	margin-bottom: 54px;
}

.hotel-search-link {
	background-color: #756157;
	font-size: 20px;
	line-height: 36px;
	padding: 8px 50px;
}

.hotel-search-link:hover {
	background-color: #615048;
}

.hotel-search-link:focus-visible {
  background-color: #615048;
  outline: none;
}

.hotel-search-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* End Section Hotel-search */

/* Start Section Subscribe */

.subscribe {
	text-align: center;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	padding: 96px 85px 104px;
}

.subscribe-background {
	background-color: #000000;
	background-image: url("../images/main/subscribe-background.jpg");
	background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-news-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
}

.subscribe-description {
	font-size: 22px;
	line-height: 26px;
	margin-top: 0;
	margin-bottom: 54px;
}

.subscribe-form {
	display: flex;
	justify-content: center;
}

.subscribe-email {
	width: 452px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	padding: 12px 20px;
	background-color: #F2F2F2;
	border-radius: 4px 0 0 4px;
	border: none;
  outline: none;
}

.subscribe-email::placeholder {
  color: #000000;
  opacity: 0.6;
}

/* .subscribe-email:hover {
  background-color: #E6E6E6;
}

.subscribe-email:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
} */


.subscribe-button {
  font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	padding: 8px 50px;
	color: #FFFFFF;
	background-color: #82B3D3;
	border-radius: 0 4px 4px 0;
	border: none;
	cursor: pointer;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

.subscribe-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.subscribe-button:disabled:hover {
  cursor: default;
}

/* End Section Subscribe */

/* End Main-index */

/* Start Section Footer */

.page-footer {
	display: flex;
	align-items: center;
	padding: 40px 70px 30px;
	gap: 41.5px;
}

.footer-social-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
    width: 337px;
}

.social-link {
  min-width: 47px;
  min-height: 40px;
  display: flex;
	align-items: center;
  justify-content: center;
  color: #83B3D3;
  outline: none;
}

.social-icon:hover {
  fill: #68A2CA;
}

.social-link:focus-visible .social-icon {
  fill: #68A2CA;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

/* .social-link-vkontakte {
	background-image: url("../images/footer/footer-social-vkontakte.svg");
}

.social-link-telegram {
	background-image: url("../images/footer/footer-social-telegram.svg");
}

.social-link-youtube {
	background-image: url("../images/footer/footer-social-youtube.svg");
} */

.footer-phone {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
  margin-right: auto;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus-visible {
  outline: none;
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-link-logo {
  outline: none;
  color: #000000;
}

.logo-html-academy {
  vertical-align: middle;
}

.logo-html-academy:hover {
  fill: #756157;
}

.footer-link-logo:focus-visible .logo-html-academy {
  fill: #756157;
}

.logo-html-academy:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* End Footer */


/* Start Catalog */

	/* Start Main-inner */

		/* Start wrraper-content */

			/* Start Inner-header */

.main-inner {
	flex-grow: 1;
}

.wrraper-content {
	background-color: #354751;
	background-image: url("../images/catalog/background-catalog-filter.jpg");
	background-repeat: no-repeat;
  background-size: cover;
	padding: 35px 70px 70px;
	color: #FFFFFF;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
	margin-top: 0;
	margin-bottom: 8px;
}

.breadcrumbs-list {
	display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.breadcrumbs-item {
	display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
	content: "";
	background-image: url("../images/catalog/arrow-right.svg");
	background-repeat: no-repeat;
	background-position: left;
	width: 7px;
	height: 10px;
	padding: 5.53px 0.8px;
  margin-left: 10px;
	display: inline-block;
}

.decorative-house-link {
	background-image: url("../images/catalog/breadcrumbs-house.svg");
  background-repeat: no-repeat;
  background-position: left;
  width: 12px;
  height: 12px;
	padding: 3.5px 0 5.5px 0.5px;
  display: inline-block;
}

.breadcrumbs-link {
	font-size: 16px;
}

			/* End Inner-header*/

			/* Start Catalog-hotel*/

.catalog-filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 140px;
}

.wrraper-catalog-filter-left {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: 1fr;
  grid-column-gap: 70px;
}

.wrraper-catalog-filter-right {
  display: grid;
  grid-template-columns: 288px 191px;
  grid-template-rows: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 32px;
}

.catalog-filter-infrastructure {
	grid-area: 1 / 1 / 3 / 2;
}

.catalog-filter-housing-type {
	grid-area: 1 / 2 / 3 / 3;
}

.catalog-filter-price {
	grid-area: 1 / 1 / 3 / 2;
}

.apply-button {
	background-color: #82B3D3;
	padding: 8px 50px;
  align-self: end;
  grid-area: 1 / 2 / 2/ 3;
}

.apply-button:hover {
  background-color: #68A2CA;
}

.apply-button:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

.apply-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.apply-button:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.apply-button:disabled:hover {
  background-color: #E5E5E5;
  cursor: default;
}

.reset-button {
	background-color: transparent;
	padding: 8px 57.5px;
  grid-area: 2 / 2 / 3/ 3;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus-visible {
  outline: 3px solid #83B3D3;;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled {
  opacity: 0.1;
}

.reset-button:disabled:hover {
  cursor: default;
}

.catalog-filter-infrastructure,
.catalog-filter-housing-type {
	border: none;
	margin: 0;
	padding: 0;
  word-break: break-word;
}

.catalog-filter-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	margin-bottom: 32px;
	padding: 0;
}

.catalog-filter-list {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.catalog-filter-item {
	display: flex;
	align-items: center;
}

.catalog-filter-item:not(:last-child) {
	margin-bottom: 16px;
}

.control {
	line-height: 23px;
}

.control-input {
	min-width: 20px;
	min-height: 20px;
	margin: 0 16px 0 0;
}

.button-catalog {
	font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	color: #FFFFFF;
}


			/* End Catalog-hotel*/

		/* End wrraper-content */

		/* Start wrraper-products */

.wrraper-products {
	padding: 50px 70px 60px;
	background-color: #FFFFFF;
}


		/* Start Catalog-sort */

.catalog-sort {
	display: flex;
    align-items: center;
    gap: 70px;
    margin-bottom: 40px;
	box-sizing: border-box;
}

.catalog-result {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
	flex-grow: 1;
	width: 400px;
}

.select-control {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	padding: 14px 20px;
	width: 292px;
	border: 2px solid #E5E5E5;
	border-radius: 4px;
}

.wrraper-sort-button {
	display: flex;
  align-items: center;
}

.sort-button {
	display: inline-block;
	width: 44px;
	height: 44px;
	outline: 2px solid #E5E5E5;
	border-radius: 4px;
	box-sizing: border-box;
}

.sort-button:hover {
  border: 2px solid #000000;
}

.sort-button:focus-visible {
  border: 2px solid #68A2CA;
  outline: none;
}

.sort-button:active {
  border: 2px solid #000000;
}

.button-active {
  border: 2px solid #000000;
}

.sort-button:not(:last-child){
	margin-right: 8px;
}

.sort-button-cards {
	background-image: url("../images/catalog/catalog-sort-cards.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.sort-button-slideshow {
	background-image: url("../images/catalog/catalog-sort-slideshow.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.sort-button-list {
	background-image: url("../images/catalog/catalog-sort-list.svg");
	background-repeat: no-repeat;
	background-position: center;
}

		/*End Catalog-sort */

		/* Start Product-list */

.product-list {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 80px;
	padding-left: 0;
	display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 300px;
  padding: 20px;
  border: 1px solid #E6E6E6;
}

.product-card-link {
	grid-area: 1 / 1 / 2 / -1;
	text-decoration: none;
	display: flex;
	flex-direction: column;
}

/* Данная обёртка решает проблему переполнение заголовка  */
.wrraper-product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  align-content: end;
}

.product-card-image {
	display: block;
  object-fit: contain;
	margin-bottom: 16px;
}

.product-card-subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 16px;
	order: 1;
}

.product-short-text-hotel{
  justify-self: start;
  grid-area: 2 / 1 / 3 / 2;
}

.product-short-text-price{
  justify-self: end;
  grid-area: 2 / 2 / 3 / 3;
}

.product-short-text-hotel,
.product-short-text-price {
	margin-top: 0;
	margin-bottom: 16px;
	color: #333333;
}

.button-link-more {
	background-color: #756157;
	padding: 8px 26px;
	grid-area: 3 / 1 / 4 / 2;
  align-self: start;
  margin-bottom: 16px;
}

.button-link-more:hover {
	background-color: #615048;
}

.button-link-more:focus-visible {
  background-color: #615048;
  outline: none;
}

.button-link-more:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-link-favorites {
	background-color: #82B3D3;
	padding: 8px 20px;
	grid-area: 3 / 2 / 4 / 3;
    align-self: start;
    margin-bottom: 16px;
}

.button-link-favorites:hover {
  background-color: #68A2CA;
}

.button-link-favorites:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

.button-link-favorites:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-link-favorites-active {
	background-color: #7DB54F;
}

.button-link-favorites-active:hover {
  background-color: #6C9E42;
}

.button-link-favorites-active:focus-visible {
  background-color: #6C9E42;
  outline: none;
}

.button-link-favorites-active:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.product-rating-star {
	grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: center;
  margin: 0;
  background-image: url("../images/catalog/rating-star.svg");
  background-repeat: repeat-x;
  background-position: left center;
  height: 17px;
}

.rating-star-two {
  width: 36px;
}

.rating-star-three {
  width: 54px;
}

.rating-star-four {
  width: 72px;
}

.product-card-hotel-rating {
	grid-area: 4 / 2 / 5 / 3;
	margin: 0;
	padding: 8px 22px;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #333333;
	box-sizing: border-box;
  background-color: #F2F2F2;
  border-radius: 4px;
}

		/* End Product-list */

		/* Start Pagination */

.pagination-list {
	display: flex;
	gap: 8px;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.pagination-item {
	line-height: 36px;
	text-align: center;
}

.pagination-link {
	display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus-visible,
.pagination-current:active {
	color: #000000;
	background-color: #F2F2F2;
}

.three-dots {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
	font-size: 22px;
	line-height: 26px;
	background-color: #FFFFFF;
	border-radius: 4px;
}

		/* End Pagination */

		/* End wrraper-products */

		/* Start Section Subscribe */

.subscribe-title-color {
	color: #000000;
}

.subscribe-description-color {
	color: #333333;
}
		/* End Section Subscribe */

	/* End Main-inner */

	/* Start Inner-footer */
