@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Общие стили для всей страницы !!! */

html {
	height: 100%;
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
	background-color: #F2F2F2;
	margin: 0;
	display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
	margin: 0 auto;
	width: 1200px;
	background-color: #FFFFFF;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Start Header  */

.page-header {
	background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    gap: 30px;
}

.logo-link {
	z-index: 1;
	margin-bottom: -4px;
}

.logo-image {
	display: inline-block;
    vertical-align: middle;
}

.navigation {
	display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.navigation-list,
.navigation-user {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation-list {
	width: 600px;
	display: flex;
	flex-wrap: wrap;
    flex-grow: 1;
}

.navigation-user {
	display: flex;
	max-width: 88px;
}

.navigation-link,
.navigation-user-link {
	display: block;
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
	color: #000000;
}

.navigation-link {
	padding: 20px 0;
    margin: 0 16px;
}

.navigation-user-link {
	vertical-align: middle;
}

.navigation-link-current {
	border-bottom: 2px solid #756257;
}

.navigation-user-link-search {
	background-image: url("../images/header/search.svg");
}

.navigation-user-link-heart {
	background-image: url("../images/header/heart.svg");
}

.navigation-user-link-search,
.navigation-user-link-heart {
	background-repeat: no-repeat;
	background-position: center;
	min-width: 20px;
	min-height: 20px;
	padding: 22px 12px;
}

.button-link {
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 4px;
}

.button-link-brown {
	background: #756157;
	padding: 8px 34px;
}

/* End Header */

/* Start Main-index */

.main-index {
	flex-grow: 1;
}

/* Start Section Hero */

.hero {
	display: flex;
    flex-direction: column;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	padding-bottom: 90px;
}

.hero-banner {
	padding-top: 51px;
	margin-bottom: 69px;
	background-color: #34576b;
	background-image: url("../images/main/main-banner.jpg");
	background-repeat: no-repeat;
}

.hero-banner::after {
	content: "";
	background-image: url("../images/main/main-bottom-detail.svg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	width: 100%;
	height: 57px;
	display: block;
}

.hero-greetings {
	margin-bottom: 20px;
}

.hero-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
	margin-top: 0;
	margin-bottom: 25px;
	padding-left: 85px;
	padding-right: 85px;
	order: 1;
}

.hero-text {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 85px;
	padding-right: 85px;
	order: 2;
}

/* End Section Hero */

/* Start Section Advantages */

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.advantage-item{
	text-align: center;
	display: flex;
}

.advantage-wrrapep {
	padding: 92px 85px 111px;
	position: relative;
}

.advantage-wrrapep::after {
	content: "";
    width: 60px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 170px;
    top: 178px;
}

.advantages-image {
	min-height: 100%;
    object-fit: cover;
}

.advantage-order {
	order: 1;
}

.advantage-item-flex {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 103px 85px 121px;
	width: 400px;
	position: relative;
}

.advantage-item-flex::after  {
	content: "";
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 170px;
    top: 189px;
}

.advantages-text {
	color: #333333;
	margin-top: 0;
	margin-bottom: 0;

}

.advantages-subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	margin-top: 0;
    margin-bottom: 62px;
    margin-left: 27.5px;
    margin-right: 27.5px;
}

.advantage-item-pale-blue {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-light-blue {
	background-color: rgba(131, 179, 211, 0.2);
}

.advantage-item-blue {
	background-color: #82B3D3;
}

.advantage-item-blue * {
	color: #FFFFFF;
}

/* End Section Advantages */

/* Start Section Services */

.services-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.services-item {
	width: 400px;
	box-sizing: border-box;
	padding: 80px 85px;
	text-align: center;
}

.services-item-img-house::before {
	content: url("../images/main/services-house.svg");
}

.services-item-img-food::before {
	content: url("../images/main/services-food.svg");
}

.services-item-img-souvenir::before {
	content: url("../images/main/services-souvenir.svg");
}

.services-item-pale-blue {
	background-color: rgba(131, 179, 211, 0.12);
}

.services-subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 30px 0;
}

.services-text {
	color: #333333;
	margin: 0;
}

/* End Section Services */

/* Start Section Hotel-search */

.hotel-search {
	background: #FFFFFF;
	text-align: center;
	padding: 96px 85px;
}

.hotel-search-interested {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
}

.hotel-search-text {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	margin-top: 0;
	margin-bottom: 54px;
}

.hotel-search-link {
	background-color: #756157;
	font-size: 20px;
	line-height: 36px;
	padding: 8px 50px;
}

/* End Section Hotel-search */

/* Start Section Subscribe */

.subscribe {
	text-align: center;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	padding: 96px 85px 104px;
}

.subscribe-background {
	background-color: #000000;
	background-image: url("../images/main/subscribe-background.jpg");
	background-repeat: no-repeat;
}

.subscribe-news-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
}

.subscribe-description {
	font-size: 22px;
	line-height: 26px;
	margin-top: 0;
	margin-bottom: 54px;
}

.subscribe-form {
	display: flex;
	justify-content: center;
}

.subscribe-email {
	width: 452px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	padding: 12px 20px;
	background-color: #F2F2F2;
	border-radius: 4px 0 0 4px;
	border: none;
}

.subscribe-button {
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	padding: 8px 50px;
	color: #FFFFFF;
	background-color: #82B3D3;
	border-radius: 0 4px 4px 0;
	border: none;
	cursor: pointer;
}

/* End Section Subscribe */

/* End Main-index */

/* Start Section Footer */

.page-footer {
	display: flex;
	align-items: center;
	padding: 40px 70px 30px;
	gap: 41.5px;
}

.footer-social-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
    width: 337px;
}

.footer-social-item {
	text-align: center;
	display: flex;
	align-items: center;
}

.social-link-vkontakte {
	background-image: url("../images/footer/footer-social-vkontakte.svg");
	background-repeat: no-repeat;
	background-position: center ;
	width: 24px;
    padding: 13px 11.67px;
}

.social-link-telegram {
	background-image: url("../images/footer/footer-social-telegram.svg");
	background-repeat: no-repeat;
	background-position: center ;
	width: 18px;
    padding: 12px 14.67px;
}

.social-link-youtube {
	background-image: url("../images/footer/footer-social-youtube.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 22px;
    padding: 11.5px 12.67px;
}

.footer-phone {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
    margin-right: auto;
}

.footer-link-logo {
	width: 115px;
}

.footer-logo-image {
	vertical-align: middle;
}

/* End Footer */


/* Start Catalog */

	/* Start Main-inner */

		/* Start wrraper-content */

			/* Start Inner-header */

.main-inner {
	flex-grow: 1;
}

.wrraper-content {
	background-color: #354751;
	background-image: url("../images/catalog/background-catalog-filter.jpg");
	background-repeat: no-repeat;
	padding: 35px 70px 70px;
	color: #FFFFFF;
}

.inner-header-title {
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
	margin-top: 0;
	margin-bottom: 8px;
}

.breadcrumbs-list {
	display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 40px;
    padding-left: 0;
}

.breadcrumbs-item {
	display: flex;
    align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
	content: "";
	background-image: url("../images/catalog/arrow-right.svg");
	background-repeat: no-repeat;
	background-position: left;
	width: 7px;
	height: 10px;
	padding: 5.53px 0.8px;
	display: inline-block;
}

.decorative-house-link {
	background-image: url("../images/catalog/breadcrumbs-house.svg");
    background-repeat: no-repeat;
    background-position: left;
    width: 12px;
    height: 12px;
	padding: 3.5px 6px 5.5px 0.5px;
    display: inline-block;
}

.breadcrumbs-link {
	font-size: 16px;
}

			/* End Inner-header*/

			/* Start Catalog-hotel*/

.catalog-filter {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-row-gap: 32px;
}

.catalog-filter-infrastructure {
	grid-area: 1 / 1 / 3 / 2;
}

.catalog-filter-housing-type {
	grid-area: 1 / 2 / 3 / 3;
}

.catalog-filter-price {
	grid-area: 1 / 3 / 3 / 4;
}

.apply-button {
	grid-area: 1 / 4 / 2 / 5;
	justify-self: center;
	align-self: end;
}

.reset-button {
	grid-area: 2 / 4 / 3 / 5;
	justify-self: center;
	align-self: start;
}

.catalog-filter-infrastructure,
.catalog-filter-housing-type {
	border: none;
	margin: 0;
	padding: 0;
	width: 150px;
}

.catalog-filter-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	margin-bottom: 32px;
	padding: 0;
}

.catalog-filter-list {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.catalog-filter-item {
	display: flex;
	align-items: center;
}

.catalog-filter-item:not(:last-child) {
	margin-bottom: 16px;
}

.control {
	line-height: 23px;
}

.control-input {
	width: 20px;
	height: 20px;
	margin: 0 16px 0 0;
}

.button-catalog {
	font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	color: #FFFFFF;
}

/* Текст "Применить" в кнопке визуально выглядит не по центру, или это мне кажется ? */
.apply-button {
	background: #82B3D3;
	padding: 8px 50px;

}

.reset-button {
	background-color: transparent;
	padding: 8px 57.5px;
}

			/* End Catalog-hotel*/

		/* End wrraper-content */

		/* Start wrraper-products */

.wrraper-products {
	padding: 50px 70px 60px;
	background-color: #FFFFFF;
}


		/* Start Catalog-sort */

.catalog-sort {
	display: flex;
    align-items: center;
    gap: 70px;
    margin-bottom: 40px;
	box-sizing: border-box;
}

.catalog-result {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
	flex-grow: 1;
	width: 400px;
}

.select-control {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	padding: 14px 20px;
	width: 292px;
	border: 2px solid #E5E5E5;
	border-radius: 4px;
}

.wrraper-sort-button {
	display: flex;
    align-items: center;
}

.sort-button {
	display: inline-block;
	width: 44px;
	height: 44px;
	border: 2px solid #E5E5E5;
	border-radius: 4px;
	box-sizing: border-box;
}

.sort-button:not(:last-child){
	margin-right: 8px;
}

.sort-button-cards {
	background-image: url("../images/catalog/catalog-sort-cards.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.sort-button-slideshow {
	background-image: url("../images/catalog/catalog-sort-slideshow.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.sort-button-list {
	background-image: url("../images/catalog/catalog-sort-list.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.button-active {
	border: 2px solid #000000;
}

		/*End Catalog-sort */

		/* Start Product-list */

.product-list {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 80px;
	padding-left: 0;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.product-card {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    max-width: 300px;
	padding: 20px;
}

.product-card-link {
	grid-area: 1 / 1 / 2 / 3;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.product-card-image {
	display: block;
	margin-bottom: 16px;
}

.product-card-subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 16px;
	order: 1;
}

.product-short-text {
	grid-area: 2 / 1 / 3 / 3;
    align-self: start;
	margin-top: 0;
	margin-bottom: 16px;
	color: #333333;
	display: flex;
	justify-content: space-between;
}

.button-link-more {
	background-color: #756157;
	padding: 8px 26px;
	grid-area: 3 / 1 / 4 / 2;
    align-self: start;
    margin-bottom: 16px;
}

.button-link-favorites {
	background-color: #82B3D3;
	padding: 8px 20px;
	grid-area: 3 / 2 / 4 / 3;
    align-self: start;
    margin-bottom: 16px;
}

.button-link-favorites-active {
	background-color: #7DB54F;
}

.product-star-image {
	grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
    align-self: center;
}

.product-card-hotel-rating {
	grid-area: 4 / 2 / 5 / 3;
	margin: 0;
	padding: 8px 22px;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #333333;
	box-sizing: border-box;
    background-color: #F2F2F2;
    border-radius: 4px;
}

		/* End Product-list */

		/* Start Pagination */

.pagination-list {
	display: flex;
	gap: 8px;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.pagination-item {
	line-height: 36px;
	text-align: center;
}

.pagination-link {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #82B3D3;
    border-radius: 4px;
}

.pagination-current {
	color: #000000;
	background-color: #F2F2F2;
}

.three-dots {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
	font-size: 22px;
	line-height: 26px;
	background-color: #FFFFFF;
	border-radius: 4px;
}

		/* End Pagination */

		/* End wrraper-products */

		/* Start Section Subscribe */

.subscribe-title-color {
	color: #000000;
}

.subscribe-description-color {
	color: #333333;
}
		/* End Section Subscribe */

	/* End Main-inner */

	/* Start Inner-footer */
